
 /* header button style */
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    background-color:#FFFFFF ;
    font-size: 18px;
    color: #006A50;
    padding:15px 30px ;
    border-radius: 8px;
    border-color:rgba(0, 106, 80, 1);
  }
  /* header title styles */
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
    font-style: normal;
  }
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 160px;
    
}
nav ul li{
    list-style: none;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 160px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.banner-content{
    width: 622px;
    padding: 117px 64px;
    
}
.btn-2{
    background-color:#006A50 ;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
.dark-1{
     color:rgba(14, 14, 14, 0.5);
}
.banner-greeting{
    font-size: 24px;
    font-weight: 500;
    
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
}
.banner-pic{
    width: 475px;;
    padding: 80px 60px;
}
/* section styles */
main section{
    margin: 60px 160px;
}
.item-description{
    font-weight: 354px;
    color:rgba(14, 14, 14, 0.7);
    
}
.items{
    display: flex;
    gap: 24px;
}
.item{
    padding: 24px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    border-radius: 16px;
}
.items-2{
 display: flex;
 gap: 24px;
 border-radius: 16px;
 
  
}
.item-2{
    padding: 32px;
    border-radius: 16px;   
}
.box-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.box-2{
    background-color: rgba(198, 228, 214, 1);
}
.box-3{
    background-color: rgba(247, 235, 207, 1);
}
.b-btn1{
    background-color: rgba(84, 144, 245, 1);
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius:8px ;
    border: none;
}
.b-btn-2{
    background-color: rgba(9, 161, 92, 1);
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius:8px ;
    border: none;
}
.b-btn-3{
    background-color: rgba(255, 194, 57, 1);
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius:8px ;
    border: none;
}
.news{
    display: flex;
    max-width: 1200px;
    background-color: white;
    border-radius:24px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);

    
}
.news-2{
    display: flex;
    max-width: 1200px;
    background-color: white;
    border-radius:24px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
}
.news-pic{
    max-width: 408px;
    padding: 50px 48px;
    
}
img{
    border-radius: 24px;
}
.date-time{
    display: flex;
    gap: 12px;

}
.news-content{
    width: 744px;
    padding: 48px 32px;
    
}
h3{
    margin-top: auto;
}
.donate{
    text-align: center;
}
.donate-tk{
    display: flex;
    gap: 24px;
    
}
.d-btn1{
    font-family: "Fira Sans", serif;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
    padding: 40px 40px;
    border-radius: 16px;

}
.d-btn2{
    background-color: #C6E4D6;
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
    padding: 40px 40px;
    border-radius: 16px;


}
section input[type="text"]{
    height: 64px;
    width: 100%;
    text-align: center;
    margin-top: 52px;
    
}
.d-done{
    margin-top: 52px;
    text-align: center;
}
.last-section{
    background-color: rgba(198, 228, 214, 1);
    text-align: center;
    padding: 80px 264px;
    border-radius: 24px;
}
.email-bar{
    display: flex;
    justify-content: center;
}
section input[type="email"]{
    height: 55px;
    width: 600px;
}
footer{
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 50px;
    box-shadow: 0px 0 8px 0 rgba(14, 14, 14, 0.1);
    gap: 23px;
}
